<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4 text-center">Patients List</h2>
      <div *ngFor="let patient of patients" class="card mb-3 shadow-sm">
        <div class="card-body">
          <h4 class="card-title">
            {{ patient.name }}
            <span class="badge badge-info float-right">{{ patient.tests.length }} Tests</span>
          </h4>
          <ul class="list-group mt-3">
            <li *ngFor="let test of patient.tests" class="list-group-item d-flex justify-content-between align-items-center">
              {{ test.testName }}
              <button class="btn btn-primary btn-sm" (click)="onTestClick(test.idTestType)">View Results</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-test-result *ngIf="selectedTestResult" [testResult]="selectedTestResult" (clear)="clearSelection()"></app-test-result>
</div>
